:root{

    /*Primary color*/
    --Dark-blue: hsl(233, 26%, 24%);
    --Lime-green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);

    /*Neutral color*/
    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);

    font-size: 62.5%; /* 1rem = 10px */
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,
body{
    width: 100%;
    height: 100%;
}
body{
    font-family: 'Public Sans', sans-serif;
    font-size: 1.8rem;

    background-color: var(--Very-Light-Gray);
}
h1,
h2,
h3{
    font-weight: 400;
    text-align: center;
    color: var(--Dark-blue);
}
h1{
    font-size: 4.5rem;    

    width: min(40rem, 100%);
    margin-inline: auto;
}
h2{
    font-size: 3.5rem;
    
    width: min(30rem, 100%);
    margin-inline: auto;
}
h3{
    font-size: 2.5rem;      
}
h4{
    font-size: 2rem;
    font-weight: 400;    
    color: var(--Dark-blue);    
}
p{
    color: var(--Grayish-Blue);
    line-height: 150%;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
span{
    color: var(--Grayish-Blue);
    font-size: 1.4rem;
}
.wrapper{
    width: min(50rem, 100%);	
	margin-inline: auto;
	padding-inline: 3rem;
}