:root{

    /*Primary color*/
    --Dark-blue: hsl(233, 26%, 24%);
    --Lime-green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);

    /*Neutral color*/
    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);

    --navigationHeightMobile: 5.6rem;
    ----navigationHeightDesktop: 8rem;

    font-size: 62.5%; /* 1rem = 10px */
}
/*===== GERAL ==============================================*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,
body{
    width: 100%;
    height: 100%;
}
body{
    font-family: 'Public Sans', sans-serif;
    font-size: 1.8rem;

    background-color: var(--Very-Light-Gray);

    overflow: overlay;
}
body :is(h1,h2,h3){
    font-weight: 400;
    text-align: center;
    color: var(--Dark-blue);
}
h1{
    font-size: 4rem;    

    width: 100%;

    margin-inline: auto;    
}
h2{
    font-size: 3.5rem;
    
    width: min(30rem, 100%);
    margin-inline: auto;
}
h3{
    font-size: 2.5rem;      
}
h4{
    font-size: 1.6rem;
    font-weight: 600;    
    color: var(--Dark-blue);    
}
p{
    color: var(--Grayish-Blue);    

    line-height: 150%;
    font-size: 1.4rem;
    text-align: center;     
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
span{
    color: var(--Grayish-Blue);
    font-size: 1.4rem;
}
.wrapper{
    width: min(60rem, 100%);	
	margin-inline: auto;
	padding-inline: 3rem;
}
.button{
    width: fit-content;

    font-size: 1.4rem;   
   
    border-radius: 2rem;

    padding: 1rem 3rem;  

    color: var(--White);
    background: linear-gradient(to right, var(--Lime-green),var(--Bright-Cyan));
}
.button:hover{
    box-shadow: inset 0rem 0rem 0rem 5rem rgba(255, 255, 255, 0.3);
}

/*===== NAVIGATION =========================================*/
#navigation{    
    display: flex;    

    width: 100%;
    height: var(--navigationHeightMobile);

    position: fixed;
    top: 0;
    z-index: 10;
    background-color: var(--White);
}
#navigation .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;  
    
    position: relative;
}
#navigation .wrapper .menu{
    position: relative;
    opacity: 0;
	visibility: hidden;
}
#navigation .close-menu{
    display:none;
}
#navigation button{
    border: none;

    background-color: transparent;

    cursor: pointer;
}

/*===== MENU-EXPENDED ======================================*/
body.menu-expended{
    overflow: hidden;
}
body.menu-expended #navigation .open-menu{
    display: none;
}
body.menu-expended #navigation .close-menu{
    display: flex;
}
body.menu-expended #navigation .wrapper .menu{
    opacity: 1;
	visibility: visible;

    position: absolute;
    top: calc(var(--navigationHeightMobile) + 2.5rem);
    left: 50%;
    z-index: 5;

    transform: translateX(-50%);

    width: 90%;

    background-color: var(--White);    
   
    border-radius: .5rem;
}
body.menu-expended .gradientBackgroundMenu{
    position: absolute;
    top: var(--navigationHeightMobile);
    left: 0;   
    background: linear-gradient(hsl(233, 26%, 24%), hsla(233, 26%, 24%, 0.498), hsla(0, 0%, 100%, 0.178));
    width: 100%;
    height: 100vh;
    z-index: 4;
}
body.menu-expended #navigation .menu ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    
    padding-block: 3.5rem;
}
body.menu-expended #navigation .menu ul li a {
    color: var(--Dark-blue);
}
body.menu-expended #navigation .menu > a{
    display: none;
}
body.menu-expended #home img:last-child{
    display: none;
}


/*===== HOME ===============================================*/
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;  

    padding-bottom: 4rem;
}
#home .backgroundImage{
    width: min(60rem, 100%);

    margin-inline: auto; 

    position: relative;        
}
#home img:first-child{
    width: 100%; 
    margin-top: 1rem;  
}
#home img:last-child{
    position: absolute;    
    top: -8rem;
    left: 0;

    width: 100%;
}
#home .wrapper{
    transform: translateY(-3rem);
    
}
#home .wrapper .col-a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#home .wrapper .col-b{
    display: none;
}
#home p{
    padding-block: 3rem;
}

/*===== WHY CHOOSE EASY BANK ================================*/
#whyChooseEasybank{
    background-color: var(--Light-Grayish-Blue);

    padding-block: 6rem;
}
#whyChooseEasybank header p{
    padding: 2rem 0 4rem;
}
#whyChooseEasybank section ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#whyChooseEasybank section :is(p, img){
     padding-block: 2rem;
}

/*===== LATEST ARTICLES =====================================*/
#latestArticles .wrapper{
    padding-block: 6rem;
}
#latestArticles .wrapper h2{
    padding: 3rem 0 0;
}
#latestArticles ul li{
    display: flex;
    flex-direction: column;
}
#latestArticles img{
    width: 100%;

    border-radius: .5rem .5rem 0 0;

    margin: 5rem 0 2rem;
}
#latestArticles ul li span{
    font-size: 1.2rem;
}
#latestArticles ul :is(span, h4, p){
    width: 90%;

    margin-inline: auto;
    padding-bottom: 1rem;

    text-align: left;
}
#latestArticles ul li p{
    font-size: 1.3rem;
}

/*===== FOOTER =====================================*/
footer{
    background-color: var(--Dark-blue);
}
footer .social-links{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .social-links .logo{
    padding: 4rem 0 3rem;
}
footer .social-links ul{
    display: flex;
    gap: 1.5rem;
}
footer .logo path[fill*="#2D314D"]{
    fill: var(--White);
}
footer .footer-links :is(ul, div:last-child){
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .footer-links li a {
    color: var(--White);

    font-size: 1.4rem; 
}
footer .footer-links div:first-child{
    padding-block: 3rem;
}
footer .footer-links div:first-child ul li{
    margin-block: .8rem;
}
footer .footer-links div:last-child .button{
    margin-bottom: 3rem;
}
footer .footer-links div:last-child small{
    color: var(--Grayish-Blue);

    margin-bottom: 3rem;
}

/*===== @MEDIA =====================================*/
@media (min-width: 1024px){

    /*===== GERAL =====================================*/
    body{
        overflow-y: auto;
        overflow-x: hidden;
       

    }
    .wrapper{        
        width: min(112rem, 100%);
        display: grid;        
    }
    .col-a{
		grid-area: A;		
	}
	.col-b{
		grid-area: B;
	}
    body h1{       
        text-align: left;
    }
    h1{
        font-size: 5rem;
    }
    h4{
        font-weight: 400;

        cursor: pointer;
    }
    h4:hover{
        color: var(--Bright-Cyan);
    }
    /*===== NAVIGATION =====================================*/
     nav#navigation{
        height: var(----navigationHeightDesktop);
     }
    nav#navigation .wrapper .menu{        
        opacity: 1;
        visibility: visible;

        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 2;
    }
    nav#navigation :is(.open-menu, .close-menu){
        display: none;
    }
    nav#navigation .wrapper > a{
        flex: 1;
    }
    nav#navigation .menu ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;
    }    
    nav#navigation .menu ul li a{
        font-size: 1.4rem;
        color: var(--Grayish-Blue);
        padding-bottom: 1rem;
    }
    nav#navigation .menu ul li a:hover{
        color: var(--Dark-blue);
        text-shadow: 0 0 .1rem black;
    }
    nav#navigation .menu ul li a::after{
        content: '';
       
        width: 0%;
        height: .3rem;
       
        display: block;

        position: relative;
        bottom: -28px; 
        left: -3px;
       
        background: linear-gradient(to right, var(--Lime-green),var(--Bright-Cyan));

        transition: 200ms;
    }
    nav#navigation .menu ul li a:hover:after{
        width: 130%;
    }

    /*===== HOME ===========================================*/
    #home{
        padding-bottom: 0;            
    }
    #home .backgroundImage{
        display: none;
    }
    #home .wrapper{
        transform:none;

        margin-top: var(----navigationHeightDesktop);

        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        'A B';

        height: 65.5rem;
    }
    #home .wrapper .col-a{
        margin-block: auto;      
       
        width: 40rem;

        align-items: flex-start;
    }
    #home .wrapper .col-a p{
        width: 39rem;

        text-align: left;
    }
    #home .wrapper .col-b{
        display: block;

        position: relative;       
    }  
    #home img:first-child{
        width: 117rem;

        position: absolute;
        top: -23rem;        

        margin-top: 0;
    }      
    #home img:last-child{
        left: 15rem;
        top: -11rem;

        width: 70rem;       
    }

    /*=====  WHY CHOOSE EASY BANK ===========================================*/
    #whyChooseEasybank h2{
        text-align: initial;
        margin: 0;
        width: 100%;
    }
    #whyChooseEasybank header p{
    text-align: initial;
    width: 52rem;
    }
    #whyChooseEasybank section ul{
        display: flex;    
        justify-content: space-between;    
    }
    #whyChooseEasybank section ul li{
        align-items: flex-start;
    }
    #whyChooseEasybank section p{
        width: 23rem;
        text-align: initial;
    }
    #whyChooseEasybank section :is(p, img) {
        padding-block: 3rem;
    }

     /*===== LATES ARTICLES ===========================================*/
     #latestArticles section ul{
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 3rem;
     }
     #latestArticles section ul li{
       
     }
     #latestArticles section ul li img{       
        height: 20rem;
        margin: 5rem 0 3rem;
     }

     /*===== FOOTER ====================================================*/
     footer .wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12rem;
     }
     footer .social-links{
        width: auto;
     }
     footer .social-links .logo{
        padding: 0 0 5rem;
     }
     footer .social-links ul svg path:hover {
        fill: var(--Lime-green);
     }
     footer .footer-links{
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: end;
     }
     footer .footer-links div{
        display: flex;
     }
     footer .footer-links div:first-child{
        gap: 12rem;       
     }
     footer .footer-links div:first-child ul{
        align-items: flex-start;
     }
     footer .footer-links div:last-child{
        align-items: flex-end;
     }
     footer .footer-links ul a:hover{
        color: var(--Lime-green);
     }
}